@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca:wght@200;400&display=swap');

/* General Configuration */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(233, 47%, 7%);
    font-size: 15px;
    overflow-x: hidden;
    padding: 7.5%;
}

/* Card content */
.container {
    max-width: 90%;
    max-height: 90%;
    background-color: hsl(244, 38%, 16%);
    color: hsla(0, 0%, 100%, 0.75);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.card {
    max-width: 50%;
    padding: 64px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}

.card-title {
    color: hsl(0, 0%, 100%);
    margin-bottom: 24px;
    font-family: 'Inter', sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.card-title span {
    color: hsl(277, 64%, 61%);
}

.card-results {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 2em;
    line-height: 1.1;
}

.card-results h5 span {
    font-size: 15px;
    font-weight: 200;
    text-transform: uppercase;
    color: hsla(0, 0%, 100%, 0.6);
}

.card-img {
    background-color: hsl(277, 64%, 61%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-img img {
    max-width: 100%;
    height: 100%;
    opacity: 0.8;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Footer */
footer {
    margin-top: 40px;
    margin-bottom: -45px;
    text-align: center;
    color: hsla(0, 0%, 100%, 0.75);
}

footer a:hover {
    color: hsl(0, 0%, 100%);
}

/*Medium-Small Devices */

@media (max-width: 991px) {
    .container {
        flex-direction: column-reverse;
    }

    .card {
    max-width: 100%;
    text-align: center;
    padding: 1em;
    }

    .card-results {
        flex-direction: column;
        margin-top: 1em;
    }

    .card-results h5 {
        margin-bottom: 1em;
    }

    .card-results:last-child {
        margin-bottom: 0;
    }

    .card-img img {
        width: 100%;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
    }

    .card-img{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 0;
    }

    footer {
        height: 6em;
    }
}

